@import url('<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Caprasimo', cursive;
}

:root
{
    --bg-color: #00111a;
    --second-bg-color:#00131a;
    --text-color:white;
    --main-color:skyblue;
}

html
{
    font-size: 62.5%;
    overflow-x:hidden;
}

body
{
    background: var(--bg-color);
    color:var(--text-color);
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:100;
}

.pageTag
{
    font-size:2.5rem;
    color:var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navigation a
{
 font-size: 1.7rem;
 color: var(--text-color);
 margin-left:4rem;
 transition: 3s;
}

.navigation a:hover, 
.navigation a.active
{
    color: var(--main-color);
}

#MenuIcon
{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

#myimage
{
    height: 650x;
    width: 550px;
    margin: 20px;
    filter: drop-shadow(2px 1.5rem 4.5rem var(--main-color));
}

section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3
{
font-size: 3.2rem;
font-weight: 700;
}

.home-content h1
{
font-size: 5.6rem;
font-weight: 700;
line-height: 1.5;
}

.home-content p
{
font-size: 1.6rem;

}

.home-img
{
    width: 50vh;
}